registry=https://pkgs.dev.azure.com/jagord-demo-app/_packaging/jaydestro-demo/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 8/30/2019.
; begin auth token
//pkgs.dev.azure.com/jagord-demo-app/_packaging/jaydestro-demo/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIzMWZmYjhhOS03YzYyLTYzODQtOTk2Yy1jM2U4OGI0MDEyOTIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiOWFkYWM5YmUtMTNkMC00ZjZlLThlYjQtNWJmOWNiYjZkMDEzIiwic2lkIjoiNTZjZTg5ZTEtNTQwMy00YjM4LWE0N2QtOTQ2MTBlMzIyOGNhIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmNlYWZkMjQyLTVjNDAtNDVhNi04MzRkLWIyYTU2MTZmMjU2ZCIsIm5iZiI6MTU1OTQxNjc0OSwiZXhwIjoxNTY3MTkzMzQ5fQ.lXmlkN5fJ7BLOIaIq6T1jWSWEOVZS3fOV4VbPVAHwKoCf0KX3dZj4Ha2uDHl7idRQ1inX2VqZ7poKmV_yh-yq2t3E_K5h-tNS7O4l9Ot68fHHSgKSTpXorGfmtyCAWw3fmezKnHxLxPzTxQzoHcFnurOZteMJZJIOkYcyc7hnOPCiNaissjSZkMi2dmKDEKekha4QCwEyu0pBC2o27wotZ1qpKuO-R9WX50GR9Vmt_BZXIRK6sHeBrf_ZkldWMQul2hkEbgxgGLIt-bxGSVnb58GFcI82ZZbHhs4S3OSlxwHONlHoW2r4Ph9icVncYKTR15qyLZ8q-X5dP24SHE2Pg
//pkgs.dev.azure.com/jagord-demo-app/_packaging/jaydestro-demo/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIzMWZmYjhhOS03YzYyLTYzODQtOTk2Yy1jM2U4OGI0MDEyOTIiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiOWFkYWM5YmUtMTNkMC00ZjZlLThlYjQtNWJmOWNiYjZkMDEzIiwic2lkIjoiNTZjZTg5ZTEtNTQwMy00YjM4LWE0N2QtOTQ2MTBlMzIyOGNhIiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmNlYWZkMjQyLTVjNDAtNDVhNi04MzRkLWIyYTU2MTZmMjU2ZCIsIm5iZiI6MTU1OTQxNjc0OSwiZXhwIjoxNTY3MTkzMzQ5fQ.lXmlkN5fJ7BLOIaIq6T1jWSWEOVZS3fOV4VbPVAHwKoCf0KX3dZj4Ha2uDHl7idRQ1inX2VqZ7poKmV_yh-yq2t3E_K5h-tNS7O4l9Ot68fHHSgKSTpXorGfmtyCAWw3fmezKnHxLxPzTxQzoHcFnurOZteMJZJIOkYcyc7hnOPCiNaissjSZkMi2dmKDEKekha4QCwEyu0pBC2o27wotZ1qpKuO-R9WX50GR9Vmt_BZXIRK6sHeBrf_ZkldWMQul2hkEbgxgGLIt-bxGSVnb58GFcI82ZZbHhs4S3OSlxwHONlHoW2r4Ph9icVncYKTR15qyLZ8q-X5dP24SHE2Pg
; end auth token
